name: 08 Secrets and Variables

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      DEPLOYMENT_ENV: 'production'
    
    steps:
      - name: Build
        run: |
          echo " Building the apllication"
          echo ${{ secrets.MY_SECRET }}
          echo ${{ env.DEPLOYMENT_ENV }}
          echo $SECRET_API_KEY
          echo $CONFIG_USERNAME
          echo $STEPS_USERNAME
          echo ${{vars.username }}

          env:
            SECRET_API_KEY: ${{ secrets.MY_SECRET }}
            STEPS_USERNAME: ${{ vars.username }}
            CONFIG_USERNAME: ${{ env.DEPLOYMENT_ENV }}

      - name: Deploy
        run: |
          echo " Global job variable ${{ env.DEPLOYMENT_ENV }}"
          echo "Variables from previous step ${{env.DEPLOYMENT_ENV}}"
          echo "Variable from this step ${CONFIG_VARIABLES2}"
          echo "Localstep variable ${ANOTHER_VARIABLE}"
          echo "Secret print ${{ secrets.API_KEY }}"
          echo "Setp's secret variable ${SECRET_API_KEY}"

        env:
          CONFIG_VARIABLES2: ${{ env.DEPLOYMENT_ENV }}
          ANOTHER_VARIABLE: 'some_value'
          SECRET_API_KEY: ${{ secrets.API_KEY }}
